<%- include('partials/header.ejs') %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Write a new blog!</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div id="editor">
    <h1>Title Here!</h1>
    <p>Hello !</p>
    <p>Change <b>me!</b></p>
    <p><br></p>
  </div>
  <form action="/new" method="POST">
    <input id="editorValue" name='content' type="hidden">
    <input id="editorTitle" name='title'   type="hidden">
    <input id="editorUser"  name='user'    type="hidden">
    <button type='submit' class='btn btn-primary'>Post</button>
  </form>
</div>


<%- include('partials/footer.ejs') %>